@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 12% 13%;
    --foreground: 0 0% 13%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 321 99% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 66 100% 59%;
    --secondary-foreground: 0 0% 13%;
    --muted: 50 33% 98%;
    --muted-foreground: 0 0% 50%;
    --accent: 50 33% 98%;
    --accent-foreground: 0 0% 13%;
    --destructive: 321 99% 50%;
    --destructive-foreground: 50 33% 98%;
    --border: 0 0% 50%;
    --input: 0 0% 50%;
    --ring: 0 0% 13%;
    --chart-1: 321 99% 50%;
    --chart-2: 222 100% 27%;
    --chart-3: 66 100% 59%;
    --chart-4: 0 0% 50%;
    --chart-5: 50 33% 98%;
    --radius: 0.5rem;
  }
}
::selection {
  background-color: hsl(var(--chart-3));
  color: hsl(var(--chart-1));
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, #0a0a0a 0%, #1a1a1a 100%);
  min-height: 100vh;
}
