@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 33% 93%;
    --foreground: 171 94% 7%;
    --card: 48 33% 93%;
    --card-foreground: 171 94% 7%;
    --popover: 48 33% 93%;
    --popover-foreground: 171 94% 7%;
    --primary: 177 100% 27%;
    --primary-foreground: 48 33% 93%;
    --secondary: 60 100% 68%;
    --secondary-foreground: 171 94% 7%;
    --muted: 48 20% 85%;
    --muted-foreground: 171 40% 40%;
    --accent: 60 100% 68%;
    --accent-foreground: 171 94% 7%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 48 33% 93%;
    --border: 171 94% 7%;
    --input: 171 94% 7%;
    --ring: 177 100% 27%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}
