@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 46 98% 96%;
    --card: 0 0% 6%;
    --card-foreground: 46 98% 96%;
    --popover: 0 0% 6%;
    --popover-foreground: 46 98% 96%;
    --primary: 321 99% 50%;
    --primary-foreground: 46 98% 96%;
    --secondary: 66 100% 59%;
    --secondary-foreground: 0 2% 14%;
    --muted: 46 98% 96%;
    --muted-foreground: 46 98% 96%;
    --accent: 66 100% 59%;
    --accent-foreground: 0 2% 14%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 46 98% 96%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 321 99% 50%;
    --radius: 0rem;
    --hot-pink: #FE019a;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  min-height: 100vh;
}

::selection {
  background-color: #E9FF32;
  color: #FE019a;
}